/*
 Theme Name:   Delos Theme
 Theme URI:    https://wordpress.org/themes/twentyseventeen/
 Description:  Custome theme for Delos APEI 78
 Author:       Vianney TRAINA, Axel CARANDANG, Lucien PASSERA
 Author URI:   http://cryptogram.space
 Template:     twentyseventeen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  delostheme
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');

body {
	margin: 0;
	padding: 0;
	width: 100%;
}

a {
	font-family: "Roboto";
}

/* ======================================= Header ======================================= */

header {
	height: 20vh;
	width: 100%;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
}

.header-infos {
	height: 12vh;
	width: auto;
	display: flex;
	justify-content: center;
	justify-content: space-around;
}

.logo {
	width: 225px;
	height: 10;
	background-image: url(images/Logo@2x.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.right-infos {
	width: 40%;
	height: inherit;
	display: flex;
}

/* ======================================= email container ======================================= */

.email-container {
	width: 50%;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

.email-img {
	height: 50px;
	width: 50px;
	background-image: url(images/picto_email@2x.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
}

.email-infos {
	height: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 6%;
	padding-left: 5%;
}

.email-infos h6 {
	color: #000000;
	font-size: 15px;
	text-transform: uppercase;
}

.email-infos p {
	color: #AFAFAF;
	font-size: 15px;
}

/* ======================================= tel container ======================================= */

.tel-container {
	width: 50%;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tel-img {
	height: 40px;
	width: 40px;
	background-image: url(images/picto_telephone@2x.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
}

.tel-infos {
	height: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 6%;
	padding-left: 5%;
}

.tel-infos h6 {
	color: #000000;
	font-size: 15px;
	text-transform: uppercase;
}

.tel-infos p {
	color: #AFAFAF;
	font-size: 15px;
}

.gray-line {
	height: 1vh;
	border-bottom: 1px solid #D9D9D9;
}

/* ======================================= Nav ======================================= */

nav {
	height: 7vh;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

nav .ul {
	height: inherit;
	width: 97%;
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
}

nav .ul li {
	height: inherit;
	font-size: 17px;
	font-weight: 600;
}

nav .ul li a {
	height: inherit;
	padding: 5px;
	margin: 0 5px;
	color: #223E8C;
	text-decoration: none;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav .ul li a:hover {
	background-color: #223E8C;
	color: #ffffff;
}

/* ======================================= dropdown menu ======================================= */

.ul,
.ul .dropdown {
	padding: 0;
	margin: 0;
	list-style: none;
}

.dropdown {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.ul .dropdown-text {
	height: inherit;
	color: #223E8C;
	text-decoration: none;
	text-transform: capitalize;
}

.ul .dropdown {
	position: absolute;
	left: -999em;
	text-align: left;
	z-index: 1000;
}

.ul li:hover .dropdown {
	left: auto;
	background-color: #ffffff;
}

.donate-container {
	height: inherit;
	width: 15%;
	border-radius: 200px 0 0 200px;
	background-color: #F19401;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
}

.donate-container h6 {
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	padding-top: 10px;
}

.donate-img {
	height: 39px;
	width: 33px;
	background-image: url(images/donation@2x.png);
	background-size: cover;
	background-repeat: no-repeat;
}

/************ BANNER *************/
.banner {
	position: relative;
	height: 65vh;
	background-size: cover;
	background-repeat: repeat;
	background-position: center;
	overflow: hidden;
	z-index: -1;
}

.banner-title,
.banner-scrum {
	margin: auto;
	width: 100%;
	text-transform: uppercase;
}

.banner-scrum {
	height: 3vh;
}

.banner-title {
	margin: auto;
	display: flex;
	justify-content: center;
	height: 60vh;
	align-items: center;
}

.banner-title h1 {
	color: white;
	font-size: 3em;
	font-weight: 600;
}

.banner-scrum span {
	margin: 10px 0 0 40px;
	font-size: 13px;
	color: white;
}

/************* PAGE PRESENTATION ************/

.presentation-title {
	margin-top: -16.5vh;
	color: #fff;
	display: flex;
	flex-direction: column;
	
}

.presentation-title-block {
	margin-left: 300px;
	text-align: center;
}

#G{
	background-color: #83B82C;
	width: 30%;
}

#LB {
	background-color: #4D82E5;
	width: 35%;
}

#DB {
	margin: auto;
	background-color: #223E8C;
	width: 48%;
}

.presentation-title span {
	font-size: 40px;
	font-weight: 700;
}


.presentation-paragraphe {
	margin: auto;
	margin-top: 5vh;
	width: 80%;
	color: #191977;
}

.valeur-banner {
	background-color: #223E8C;
	height: 40vh;
	display: flex;
}

.valeur-banner-img {
	background: url(./images/nathan-anderson-J3Xjyg5m8kY-unsplash.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 60%;
}

.valeur-banner-title {
	display: flex;
	width: 40%;
}

.valeur-banner-title h2 {
	margin: auto;
	color: #FFFFFF;
	font-size: 3.5em;
	font-weight: 600;
	text-align: center;
}

.valeur-container-main {
	height: 70vh;
	display: flex;
}

.valeur-container-content {
	margin: auto;
	height: 60vh;
	width: 90%;
	display: inherit;
}

.valeur-container-content-block {
	margin: auto;
	height: 50vh;
	width: 30%;
	display: inline-block;
	color: #191977;
	font-size: 18px;
	text-align: center;
}

.valeur-container-content-block h3 {
	color: #191977;
	font-size: 25px;
	font-weight: 600;
}


.valeur-container-content-block-img-ethique,
.valeur-container-content-block-img-ecoute,
.valeur-container-content-block-img-qualite {
	width: 80px;
	background-repeat: no-repeat;
	background-size: contain;
	justify-content: center;
}


/************* PAGE PROJET ************/
.projet-obj{
	margin: -15vh auto auto auto;
	background-color: #223E8C;
	width: 80%;
	height: 30vh;
	display: flex;
	flex-direction: column;
}
.projet-obj-container{
	color: white;
	margin: auto;
	height:40%;
	width:85%;
	display: flex;
	
}
.projet-obj-container-title{
	margin: auto;
	font-weight: 600;
	text-align: center;
	text-decoration: underline;
	width: 20%;
}
.projet-obj-container-p{
	margin: auto;
	width: 80%;
}

.hline-top {
    margin: auto;
    width: 200px;
    border-bottom: 3px solid #83B82C;
}

.projet-pourquoi h2{
	margin-top: 10vh;
	color: #191977;
	text-align: center;
	font-weight: 600;

}

.projet-pourquoi-p{
	margin: 10vh auto auto auto;
	width: 90%;
	color: #223E8C;
}

.projet-point{
	margin-bottom: 20vh;
	height: 100vh;
	display: flex;
}

.projet-point-container{
	margin: auto;
	display: inherit;
	height: 80%;
	width: 75%;
}
.projet-point-container-block{
	margin: auto;
	height: 70%;
	width: 25%;
}
#S{
	margin-bottom: 50vh;
}
#H{
	margin-bottom: -5vh;
}
#V{
	margin-top: 5vh;
}

.projet-point-container-block-head-title{
	margin: -14vh 0 0 8vh;	
}

.projet-point-container-block-head-title h3, .projet-point-container-block-head-title span {
	color: #223E8C;
}
.projet-point-container-block-head-title h3{
	font-weight: 600;
}
.projet-service{
	display: flex;
	width: 50%;
}
.projet-point-container-block-tail{
	margin: 5vh auto auto 5vh;
	height: 90%;
	width: 90%;
}
.projet-service-bg{
	background-repeat: no-repeat;
	background-size: contain;
}

/************* PAGE PROJET ************/

.organisation-pole{
	margin: -15vh auto auto auto;
	background-color: #223E8C;
	width: 80%;
	height: 50vh;
	display: flex;
}
.organisation-pole-p{
	color: white;
	margin: auto;
	width: 90%;
}

.organisation-schema{
	margin: 10vh auto auto -10vh;
	height: 85vh;
	background: url(./images/schéma@2x.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.organisation-schema h2{
	margin-left: 30vh;
	color: #191977;
	font-weight: 600;
}

.organisation-map{
	margin: auto;
	height: 60vh;
	background: url(./images/Carte@2x.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
}

.organisation-map-block{
	margin: auto 0;
	height: 40vh;
	width: 30%;
	border-radius: 25px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
}

.organisation-map-block-content{
	margin: auto;
	color: #223E8C;
	width: 75%;
	font-size: 15px;
}

.organisation-map-block-button{
	margin: auto;
	width: 75%;
	font-size: 13px;
	
}
.organisation-map-block-button button{
	background-color: #83B82C;
	border-radius: 50px;
}

/* ======================================= Nous soutenir ======================================= */

.soutenir {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5vw;
	height: 400px;
	margin: 4vh 3vw;
}

.soutenir .card {
	display: flex;
	position: relative;
	justify-content: center;
}

.soutenir .card .image-wrapper {
	height: 90%;
	width: 100%;
}

.soutenir .card img {
	overflow: hidden;
}

.soutenir .card a {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	color: white;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
	background-color:  #87B900;
	height: 80px;
	width: 20vw;
	z-index: 2;
}

/* ======================================= Footer ======================================= */

footer {
	height: 385px;
	background-color: #223E8C;
}

footer .newsletter {
	padding-top: 70px;
}

footer .newsletter h3 {
	text-align: center;
	color: #FFFFFF;
	font-size: 32px;
	font-family: 'Roboto';
	font-weight: 900;
}

footer .newsletter .wrapper {
	display: flex;
	justify-content: center;
	align-content: center;
}

footer .newsletter form {
	display: flex;
	width: 530px;
	margin-top: 45px;
}

footer .newsletter form>* {
	box-shadow: 0px 3px 6px #00000029;
	height: 50px;
	border-radius: 25px;
}

footer .newsletter input[type=email] {
	border: none;
	background-color: #FFFFFF;
	padding-right: 50px;
}

footer .newsletter button[type=submit] {
	width: 190px;
	margin-left: -40px;
	background-color: #F19401;
}

footer .site-links {
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	margin-top: 90px;
}

footer .site-links li {
	position: relative;
	font-size: 20px;
}

footer .site-links li a {
	color: #FFFFFF;
	padding: 5px;
	margin: 0 5px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .site-links li:nth-child(n+2):before {
    position: absolute;
    top: 3px;
    left: -1px;
    color: white;
    content: '|';
}
/* ======================================= Slider ======================================= */

.slider {
	width: 100%;
	height: 65vh;
	background-image: url(images/homepage.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slider-container {
	width: 100%;
	height: 15vh;
	display: flex;
	text-align: center;
	justify-content: center;
	justify-content: space-around;
}

.slider-container .projet-container {
	height: inherit;
	width: 33.33%;
	background-color: #223E8C;
}

.slider-container .etablissements-container {
	height: inherit;
	width: 33.33%;
	background-color: #4D82E5;
}

.slider-container .soutiens-container {
	height: inherit;
	width: 33.33%;
	background-color: #83B82C;
}

.slider-container .slider-title {
	color: white;
	font-weight: bold;
	font-size: 30px;
	padding-top: 15px;
}

.slider-container .slider-infos {
	color: white;
	font-size: 15px;
}

/* ======================================= Actualités ======================================= */

.actualites-container {
	height: 95vh;
	width: 100%;
}

.actualites-container  .actualites-title {
	height: 15vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.actualites-title .actualites-trait {
	width: 6%;
	border: 3px solid #83B82C;
	background-color: #83B82C;
	border-radius: 200px 200px 200px 200px;
}

.actualites-h2 {
	color: #191977;
	font-weight: 800;
	text-transform: uppercase;
}

/* ======================================= Actualités - articles ======================================= */

.articles-container {
	height: 70vh;
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
	justify-content: space-between;
}

.articles-container article .article-first-picture {
	height: 223px;
	width: 355px;
	background-image: url(images/arton776-9e0fe-2@2x.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.articles-container article .article-second-picture {
	height: 223px;
	width: 355px;
	background-image: url(images/c65d1f697576f980912ece0c8611c4@2x.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.articles-container article .article-third-picture {
	height: 223px;
	width: 355px;
	background-image: url(images/arton778-6d370@2x.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.articles-container article .article-description-container {
	height: 40vh;
	margin-right: 12%;
	padding: 15px;
	background-color: #F6F6F6;
}

.articles-h4 {
	color: #223E8C;
	font-size: 18px;
}

.articles-date {
	color: #9A9A9A;
	font-size: 12px;
	text-transform: uppercase;
}

.articles-description {
	color: #223E8C;
	font-size: 14px;
}

/* ======================================= Actualités - lire la suite ======================================= */

.articles-suite-container {
	height: 1vh;
	margin-right: 12%;
	background-color: #83B82C;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.articles-suite-container .article-green-button {
	width: 188px;
	background-color: #83B82C;
	border-radius: 28px;
	border: 1px solid #83B82C;
	cursor: pointer;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
}

/* ======================================= Actualités - button voir tout ======================================= */

.actualites-button-container {
	height: 15vh;
	width: 100%;
	margin-top: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.article-see-button {
	width: 188px;
	background-color: #83B82C;
	border-radius: 28px;
	border: 1px solid #83B82C;
	cursor: pointer;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
}

/* ======================================= Actualités Delos  ======================================= */

.container-buttons-fullwidth {
	width: 100%;
	height: 8vh;
	margin-top: -2vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-buttons-center {
	height: inherit;
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.container-trier {
	width: 20%;
	height: 5vh;
	background-color: #83B82C;
	border-radius: 28px;
	border: 1px solid #83B82C;
	cursor: pointer;
	text-align: center;
}

.container-trier .container-texte-trier {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
}

.container-trier .container-texte-trier .texte-trier {
	margin-top: 2.5vh;
}

.container-themes {
	height: inherit;
	width: 20%;
	background-color: lightgreen;
}

.container-filtres {
	height: inherit;
	width: 20%;
	background-color: lightyellow;
}

.container-recherches {
	height: inherit;
	width: 20%;
	background-color: lightslategrey;
}
